<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Getränkeverwaltung</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <h1>Getränkeverwaltung</h1>
    <div class="menu">
        <a href="/Zapfstelle"><button>Zapfstelle</button></a>
        <a href="/Cocktail"><button>Cocktail</button></a>
        <a href="/Zutat"><button>Zutat</button></a>
        <a href="/Rezept"><button>Rezept</button></a>
    </div>
</body>
</html>
