<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Rezept API Tools</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <h1>Rezept API - Tools Übersicht</h1>
    <div class="tool-buttons">
        <a href="/Rezept/getAll"><button>Alle Rezepte anzeigen</button></a>
        <a href="/Rezept/get"><button>Ein Rezept anzeigen</button></a>
        <a href="/Rezept/add"><button>Rezept hinzufügen</button></a>
        <a href="/Rezept/delete"><button>Rezept löschen</button></a>
    </div>
</body>
</html>
