<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Zapfstelle Verwaltung</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <h1>Zapfstelle Verwaltung</h1>
    <div class="menu">
        <a href="/Zapfstelle/getAll"><button>Alle Zapfstellen anzeigen</button></a>
        <a href="/Zapfstelle/get"><button>Zapfstelle anzeigen</button></a>
        <a href="/Zapfstelle/add"><button>Neue Zapfstelle hinzufügen</button></a>
        <a href="/Zapfstelle/delete"><button>Zapfstelle löschen</button></a>
        <a href="/Zapfstelle/setZapfstelle"><button>Zapfstelle bearbeiten</button></a>
    </div>
</body>
</html>
